<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="{{ url_for('update_data') }}">
        <label for="auth_data">Authorization</label>
        <input type="text" name="auth_login" id="login" required>
        <input type="text" name="auth_pass" id="pass" required>
        <button type="submit">Enter</button>
    </form>
    
    <br><br>
    
    <form method="post" action="{{ url_for('update_data') }}">
        <label for="new_user_data">Are you a new user?</label>
        <input type="checkbox" name="new_user_checkbox" id="new_user_checkbox">
        <input type="text" name="new_user_name" id="new_user_name" required>
        <input type="text" name="new_user_surname" id="new_user_surname" required>
        <input type="text" name="new_user_email" id="new_user_email" required>
        <input type="text" name="new_user_password" id="new_user_password" required>
        <button type="submit">Enter</button>
    </form>


</body>
</html>