<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Your Shopping Cart</h1>
    
    <ul>
        {% for product_id, quantity in cart.items() %}
            <li>Product {{ product_id }} - Quantity: {{ quantity }}</li>
        {% endfor %}
    </ul>
    
    <!-- Ссылка на главную страницу -->
    <p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
